body {
  background-color: rgb(155, 212, 32);
}
.heading {
  font-size: 50px;
  text-align: center;
}
.game-container {
  margin: auto;
  width: fit-content;
  border: 1px solid black;
}
.guessing-picture {
  border: 1px black solid;
  width: 13vw;
  height: 13vw;
}
.guessing-picture:hover {
  object-fit: cover;
  position: absolute;
  z-index: 1;
  width: 26.3vw;
  height: 54vh;
}
.pictures-div {
  border: 1px solid black;
  width: 26.3vw;
  display: flex;
  flex-wrap: wrap;
}
.keyboard-layout {
  margin: auto;
  margin-top: 3vh;
  width: 14.25rem;
  display: flex;
  flex-wrap: wrap;
}
.buttons-div {
  border-radius: 5px;
  background-color: silver;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 20px;
  height: 20px;
  padding: 5px;
}
.vanish-hint {
  display: inline;
  padding: 10px;
  background-color: rgb(155, 212, 32);
  margin: 5px;
  position: relative;
  bottom: 10px;
}
.vanish-hint:hover {
  background-color: rgb(32, 58, 6);
}
.letter-buttons {
  display: block;
  margin: 0 auto;
}
