body {
  background-image: url(./assets/background.jpg);
}
.heading {
  font-size: 50px;
  text-align: center;
  color: white;
}
.game-container {
  margin: auto;
  width: fit-content;
  border: 1px solid black;
}
.guessing-picture {
  border: 1px black solid;
  width: 13vw;
  height: 13vw;
}
.guessing-picture:hover {
  object-fit: cover;
  position: absolute;
  z-index: 1;
  width: 26.3vw;
  height: 54vh;
}
.pictures-div {
  border: 1px solid black;
  width: 26.3vw;
  display: flex;
  flex-wrap: wrap;
}
.keyboard-layout {
  margin: auto;
  margin-top: 3vh;
  width: 18rem;
  display: flex;
  flex-wrap: wrap;
}
.buttons-div {
  border-radius: 5px;
  background-color: rgb(70, 96, 167);
  margin-right: 8px;
  margin-bottom: 8px;
  width: 30px;
  height: 30px;
  padding: 5px;
}
.buttons-div:hover {
  background-color: black;
}
.vanish-hint {
  display: inline;
  padding: 10px;
  background-color: rgb(70, 96, 167);
  margin: 5px;
  position: relative;
  bottom: 10px;
}
.vanish-hint:hover {
  background-color: rgb(85, 194, 113);
}
.letter-buttons {
  background-color: rgb(85, 194, 113);
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border: 1px solid black;
}
