#home-screen {
  top: 0px;
  position: absolute;
  width: 42rem;
  height: 98vh;
  border: 5px solid purple;
  z-index: 9999;
  background-color: #260065;
  display: flex;
  flex-direction: column;
}
#leaderboard {
  z-index: 99999;
}
@keyframes vanish-homescreen {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-200%);
    opacity: 0.1;
  }
}
.input-name {
  margin-top: 10px;
  margin: auto;
  padding: 5px;
  outline: none;
  background-color: #730e9a;
  border: 2px solid #ff3b3b;
  color: white;
  font-size: 19px;
  text-align: center;
  border-radius: 5px;
  height: 45px;
  width: 200px;
}
.starting-screenimg {
  margin: auto;
  width: fit-content;
  height: 18rem;
  object-fit: contain;
}
.starting-playbutton {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  perspective: 1000px;
  margin: auto;
}
.starting-playbutton:hover {
  cursor: pointer;
}
.starting-playbutton span {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
.starting-playbutton span:before,
.starting-playbutton span:after {
  position: absolute;
  content: "PLAY";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff3b3b;
  box-sizing: border-box;
  border-radius: 5px;
}
.starting-playbutton span:before {
  color: #fff;
  background: #730e9a;
  transform: rotateY(0deg) translateZ(25px);
}
.starting-playbutton span:after {
  color: #ffffff;
  transform: rotateX(90deg) translateZ(25px);
}
.starting-playbutton span:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
.leaderboard-button {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  perspective: 1000px;
  margin: auto;
}
.leaderboard-button:hover {
  cursor: pointer;
}
.leaderboard-button span {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
.leaderboard-button span:before,
.leaderboard-button span:after {
  position: absolute;
  content: "LEADERBOARD";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff3b3b;
  box-sizing: border-box;
  border-radius: 5px;
}
.leaderboard-button span:before {
  color: #fff;
  background: #730e9a;
  transform: rotateY(0deg) translateZ(25px);
}
.leaderboard-button span:after {
  color: #ffffff;
  transform: rotateX(90deg) translateZ(25px);
}
.leaderboard-button span:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
#instructions-area {
  position: absolute;
  top: 0px;
  width: 42rem;
  height: 98vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 888;
  background-image: conic-gradient(
    rgb(4, 2, 105),
    rgb(3, 15, 71),
    rgb(66, 19, 121),
    rgb(72, 0, 90),
    rgb(16, 1, 65)
  );
  border: 5px solid purple;
}
@keyframes vanish-instructions {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -200%);
    opacity: 0.1;
  }
}
.instructionsHeading {
  margin: 1rem 0 0 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  color: rgb(211, 79, 251);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px;
  top: 1px;
}
#instructions-text {
  padding: 10px;
  font-size: 18px;
  line-height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#instructions {
  color: white;
  width: fit-content;
  height: 70vh;
  margin: auto;
  display: flex;
  overflow: hidden;
}
.box-overflow {
  overflow-y: scroll;
}
.box-overflow::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #2a009c;
}

.box-overflow::-webkit-scrollbar {
  width: 10px;
}
.box-overflow::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(211, 79, 251);
  /* border: 1px solid #000; */
}
.proceed-button {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  margin-top: 1rem;
}

.proceed-btn {
  width: 8rem;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  color: #d34ffb;
  text-transform: uppercase;

  text-decoration: none;
  border: 1px solid #d34ffb;
  position: relative;
  overflow: hidden;
}
.proceed-btn:hover {
  cursor: pointer;
}
.proceed-btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(228, 104, 245, 0.4);
}

.proceed-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(228, 104, 245, 0.4),
    transparent
  );
  transition: all 650ms;
}

.proceed-btn:hover:before {
  left: 100%;
}

/* loader */
@keyframes loader_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}